extends html

snippet cl "console.log()"
console.log('${1}')${0}
endsnippet

snippet clv "console.log('foo:', foo)"
console.log('===> ${1/\w+\s*/\u$0/g}:', ${1})${0}
endsnippet

snippet els "else"
else {
	${1}
}${0}
endsnippet

snippet f "function" w
function (${1}) {
	${0}
}
endsnippet

snippet str "JSON.stringify()"
JSON.stringify(${1})${0}
endsnippet

snippet var "var name = value"
var ${1:var_name} = ${2:var_value}${0}
endsnippet

snippet use
'use strict'
endsnippet
