snippet al
alert('${1}');${0}
endsnippet

snippet cl
console.log('${1}');${0}
endsnippet

snippet clv
console.log('===> ${1/\w+\s*/\u$0/g}:', ${1});${0}
endsnippet

snippet els
else {
	${1}
}${0}
endsnippet

snippet f "" w
function (${1}) {
	${0}
}
endsnippet

snippet jstr
JSON.stringify(${1});${0}
endsnippet

snippet var
var ${1:var_name} = ${2:var_value};${0}
endsnippet

snippet use
'use strict';
endsnippet
